<div class="container">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2  ">
				<hr>
        {{#each data.teams}}
          <div class="team col-md-12">

			     <h1>{{this.name}}</h1>
            <div class="players">
            {{#each this.playersInfo}}
				        <div class="player col-md-4">
                  <img src="{{this.image.url}}" style="max-width::250px;max-height:250px;" />
                  <p><b>Name:</b> {{this.name}} </p>
                  <p><b>Nationality:</b> {{nationality}} </p>
                  <p><b>Position:</b> {{ this.position }}</p>
				        </div>
            {{/each}}
            </div>
            </div>
        {{/each}}
		</div>
	</div>
</div>
